@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to AKS Learning </h2>
    <br />
    <br />
    <h3> Host Name: @System.Net.Dns.GetHostName() </h3>
   
</div>
